.container {
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: gray;
  border-radius: 3px;
}

textarea {
  margin-top: 20px;
}

#preview {
  margin: 50px;
  background-color: brown;
  border-radius: 3px;
}